<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Quản lý doanh thu</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Chọn Loại Thống kê:</h4>
                                <mat-form-field>
                                    <mat-label>Chọn Loại Thống kê</mat-label>
                                    <mat-select [(ngModel)]="selectDropdown" (selectionChange)="onSelect($event)">
                                        <mat-option *ngFor="let type of typeRevenue" [value]="type.value">
                                            {{type.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <h4>Chọn Tháng:</h4>
                                <mat-form-field>
                                    <mat-label>Chọn Tháng</mat-label>
                                    <mat-select [(ngModel)]="selectMonth">
                                        <mat-option *ngFor="let month of monthList" [value]="month.value">
                                            {{month.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="isSelectDay" class="col-md-4">
                                <h4>Chọn Ngày:</h4>
                                <mat-form-field>
                                    <mat-label>Chọn Loại Thống kê</mat-label>
                                    <mat-select [(ngModel)]="selectDay">
                                        <mat-option *ngFor="let day of daylist" [value]="day.value">
                                            {{day.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn" (click)="showData()">Tìm kiêm</button>
                        </div>
                        <div *ngIf="dayRp" class="row">
                            <div class="col-md-12">
                                <h3>Lịch sử đặt phòng ngày {{selectDay}} tháng {{selectMonth}}</h3>
                                <!-- <ul class="room-book">
                                    <li *ngFor="let item of data" [class.selected]="room === selected" (click)="onSelect(room)">
                                        <span class="room-name">{{item.inv}}</span>
                                        <span class="room-hire-date">{{item.name}}</span>
                                        <span class="room-return-date">{{item.hotelCd}}</span>
                                        <span class="room-return-date">{{item.roomCd}}</span>
                                        <span class="room-return-date">{{item.hireDate}}</span>
                                        <span class="room-return-date">{{item.returnDate}}</span>
                                        <span class="room-pay-ment">{{item.payment}}</span>
                                    </li>
                                </ul> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Mã hóa đơn
                                            </th>
                                            <th>
                                                Tên người đặt
                                            </th>
                                            <th>
                                                Mã Khách sạn
                                            </th>
                                            <th>
                                                Mã phòng
                                            </th>
                                            <th>
                                                Ngày đặt
                                            </th>
                                            <th>
                                                Ngày trả
                                            </th>
                                            <th>
                                                Tổng tiền
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of data">
                                                <td>
                                                    {{item.inv}}
                                                </td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    {{item.hotelCd}}
                                                </td>
                                                <td>
                                                    {{item.roomCd}}
                                                </td>
                                                <td>
                                                    {{item.hireDate}}
                                                </td>
                                                <td>
                                                    {{item.returnDate}}
                                                </td>
                                                <td>
                                                    {{item.payment}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="monthRp" class="row">
                            <div class="col-md-12">
                                <h3>Lịch sử đặt phòng tháng {{selectMonth}}</h3>
                                <!-- <ul class="room-book">
                                    <li *ngFor="let item of data" [class.selected]="room === selected" (click)="onSelect(room)">
                                        <span class="room-name">{{room.inv}}</span>
                                        <span class="room-hire-date">{{item.name}}</span>
                                        <span class="room-return-date">{{item.hotelCd}}</span>
                                        <span class="room-return-date">{{item.roomCd}}</span>
                                        <span class="room-return-date">{{item.hireDate}}</span>
                                        <span class="room-return-date">{{item.returnDate}}</span>
                                        <span class="room-pay-ment">{{item.payment}}</span>
                                    </li>
                                </ul> -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Mã hóa đơn
                                            </th>
                                            <th>
                                                Tên người đặt
                                            </th>
                                            <th>
                                                Mã Khách sạn
                                            </th>
                                            <th>
                                                Mã phòng
                                            </th>
                                            <th>
                                                Ngày đặt
                                            </th>
                                            <th>
                                                Ngày trả
                                            </th>
                                            <th>
                                                Tổng tiền
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of data">
                                                <td>
                                                    {{item.inv}}
                                                </td>
                                                <td>
                                                    {{item.name}}
                                                </td>
                                                <td>
                                                    {{item.hotelCd}}
                                                </td>
                                                <td>
                                                    {{item.roomCd}}
                                                </td>
                                                <td>
                                                    {{item.hireDate}}
                                                </td>
                                                <td>
                                                    {{item.returnDate}}
                                                </td>
                                                <td>
                                                    {{item.payment}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>