<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Danh sách khách sạn</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Hình ảnh
                                    </th>
                                    <th>
                                        Mã KS
                                    </th>
                                    <th>
                                        Tên khách sạn
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        SDT
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hotel of hotelList">
                                        <td>
                                            {{hotel.stt}}
                                        </td>
                                        <td>
                                            {{hotel.hotelCode}}
                                        </td>
                                        <td>
                                            {{hotel.hotelName}}
                                        </td>
                                        <td>
                                            {{hotel.address}}
                                        </td>
                                        <td>
                                            {{hotel.email}}
                                        </td>
                                        <td>
                                            {{hotel.std}}
                                        </td>
                                        <td>
                                            <!-- <button (click)="onOpenDialog('DELETE', hotel)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                            <button click)="onOpenDialog('UPDATE', hotel)">
                                                <i class="material-icons">edit_road</i>
                                            </button> -->
                                            <button (click)="onOpenDialog('DELETE', hotel)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                            <button (click)="onOpenDialog('UPDATE', hotel)">
                                                <i class="material-icons">edit_road</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: end;">
                                            <button (click)="onOpenDialog('ADD')">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>