<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Danh sách khách sạnA</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Mã KS
                                    </th>
                                    <th>
                                        Tên khách sạn
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        SDT
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: end;">
                                            <i class="material-icons">add</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
