<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Danh sách khách sạn</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Mã KS
                                    </th>
                                    <th>
                                        Tên khách sạn
                                    </th>
                                    <th>
                                        Địa chỉ
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        SDT
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            MT_QN
                                        </td>
                                        <td>
                                            Khách sạn Mường Thanh Quy Nhơn
                                        </td>
                                        <td>
                                            2 Nguyễn Huệ, Tp.Qui Nhơn
                                        </td>
                                        <td>
                                            mtqn@mail.com
                                        </td>
                                        <td>
                                            0256-123-456
                                        </td>
                                        <td>
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit_road</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: end;">
                                            <i class="material-icons">add</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>