.main-panel-home {
  position: relative;
  float: right;
  width: 100%;
  -webkit-transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1); }
  .main-panel-home > .content {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px); }
  .main-panel-home > .footer {
    border-top: 1px solid #e7e7e7; }
  .main-panel-home > .navbar {
    margin-bottom: 0; }
  .main-panel-home .header {
    margin-bottom: 30px; }
    .main-panel-home .header .title {
      margin-top: 10px;
      margin-bottom: 10px; }