<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <div class="row" style="margin-left: 50px;">
            Tiết kiệm thời gian và tiền bạc!
            Hãy đăng ký và chúng tôi sẽ gửi những ưu đãi tốt nhất cho bạn
            </div>
            <div class="row">
            <input style="width: 200px; margin-left: 50px;" type="text" class="form-control" placeholder="Địa chỉ Email của bạn"/>
            <button mat-raised-button type="submit" class="btn btn-white btn-just-icon">
                <i class="material-icons">done</i>
                <div class="ripple-container"></div>
            </button>
        </div>
        </nav>
        <div class="copyright pull-right">
            &copy;
            Made with QNU Team
        </div>
    </div>
</footer>
